.nav-bar {
    background-color: rgb(0, 170, 217);
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.sidebar {
    bottom: 0;
    left: 0;
    width: 250px;
    position: fixed;
    overflow: auto;
    top: 0;
    z-index: 999;
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease 0s;
    visibility: visible;
    background: rgb(0, 170, 217);
}

.sidebar__toggle {
    cursor: pointer;
    color: #f4f5f7;
}

.sidebar__close {
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 20px;
}

.sidebar__menu {
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    text-decoration: none;
    margin-top: 50px;
}

.sidebar_top {
    padding-bottom: 100px;
    border-bottom: #f4f5f7 1px solid;
}

.sidebar_bottom {
    padding-top: 40px;
}

.sidebar li {
    padding: 0.8em;
    border: #f4f5f7 1px solid;
    text-decoration: none;
    margin-top: 60px;
    background: #f4f5f7;
    border-radius: 5px;
}

.sidebar a {
    color: #42526e;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    color: #244973;
    text-decoration: none;
}

.sidebar-visible.sidebar {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}

.topnav_title {
    padding: 20px;
    border: #f4f5f7 1px solid;
    text-decoration: none;
    background: #f4f5f7;
    border-radius: 5px;
    display: block;
    margin-left: 85%;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.logo {
    width: 30%;
    margin-left: 40%;
    position: fixed;
}